#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: #212529;
  min-height: 100vh;
}

#navbar {
  background-color: #212529;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1em;
}

/* home.jsx */
#home {
  background: linear-gradient(0deg, #39322982, #39322982),
    url("https://images.unsplash.com/photo-1589363460779-cd717d2ed8fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
  background-size: cover;
  background-position: center center;
  height: 90vh;
  min-height: 600px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: end;
}

#home-content-div {
  color: #b8a43f;
  padding-right: 2em;
}

#home-content-div h1 {
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  font-size: 8em;
}

#home-content-div h3 {
  font-family: "Lato", sans-serif;
  font-weight: light;
  font-size: 1.75em;
}

#home-content-div button {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1.25em;
}

#home-under-landing {
  background-color: #212529;
  color: #dad3ae;
  height: 90vh;
  display: flex;
  flex-flow: row wrap;
}

#home-ul-img-cont {
  background: linear-gradient(0deg, #39322982, #39322982),
    url("https://images.unsplash.com/photo-1592914637125-28479601c75a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 50%;
}

#home-ul-content-cont {
  width: 50%;
  padding: 0.5em 1.5em;
  text-align: left;
}

#home-ul-content-cont h2 {
  font-family: "Playfair Display SC", serif;
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 0.75em;
}

#home-ul-content-cont p {
  font-family: "Lato", sans-serif;
  font-weight: light;
  font-size: 1.5em;
}

/**/

#products {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;
  justify-content: center;
}

.product-cont {
  width: 18%;
  margin: 0.5em;
}

.product {
  height: 100%;
}

/* View Product.jsx */
#product-main-div {
  display: flex;
  flex-flow: row wrap;
}

#product-content-div {
  width: 60%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 3em;
  color: white;
}

#product-sorter,
#product-filter {
  color: #dad3ae;
}

/* Cart.jsx */

#cart {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.cart-product {
  width: 65%;
  padding: 1em;
  gap: 1em;
}

/* .cart-product-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
} */

/* checkout.jsx (shipping, payment, confirmCheckout) */
.checkout-tabs {
  width: 45%;
  margin: 2em 4em;
  padding: 2em;
  background-color: #baba8fdf;
}

#register-form,
#login-form {
  width: 60%;
  margin: 2em;
  padding: 2em;
  background-color: #baba8fdf;
}
