/* 
color palette

brand color: #DD3064 #fbe5ff

#F2DAE1, #FAB8CC, #F8769D, #EC507F, #DD3064, #B90E41, #9A0A35, #6A0624, #420316

supporting colors: 
#D8FAC5, #CDFCB3, #BAFA98, #97FA61, #6AE02B, #53C217, #328704, #1F5701, #102B01

#FAF1C5, #FCF0B3, #FAEA98, #FAE061, #E0C434, #C2A517, #877104, #574801, #2B2401

#FAD8D7, #FCC7C5, #FA9C98, #FA6761, #D93732, #C21D17, #870804, #570401, #2B0301

#D7EEFA, #C5E9FC, #98D8FA, #61C5FA, #249BDB, #1786C2, #045987, #013957, #011D2B

neutral colors: 
#F0EAEC, #E4D9DC, #D9CACF, #B69BA3, #886670, #734C58, #532C38, #40212B, #18030A

*/

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-color: #e4d9dc;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

#navbar {
  background-color: #edc9d4;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

#navbar nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.nav-tab-text {
  border-radius: 0;
  color: #f8769d;
  font-size: 1.3em;
  font-weight: bold;
  /* background-color: white; */
  padding: 0.25em 0.5em;
}

.nav-tab-icon {
  display: none;
}

/* home.jsx */
#home {
  background: linear-gradient(0deg, #4e3b4782, #40333b82),
    url("https://images.unsplash.com/photo-1487412947147-5cebf100ffc2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80");
  background-size: cover;
  background-position: center center;
  height: 90vh;
  min-height: 600px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: end;
}

#home-content-div {
  padding-right: 2em;
  color: #f8769d;
}

#home-content-div h1 {
  color: #dd3064;
}

#home-content-div h1 {
  font-family: "Playfair Display SC", serif;
  font-weight: bold;
  font-size: 8em;
}

#home-content-div h3 {
  font-family: "Lato", sans-serif;
  font-weight: light;
  font-size: 1.75em;
}

#home-content-div button {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 1.25em;
}

#home-under-landing {
  background-color: #e4d9dc;
  height: 90vh;
  display: flex;
  flex-flow: row wrap;
}

#home-ul-img-cont {
  background: linear-gradient(0deg, #453e4282, #453e4282),
    url("https://images.unsplash.com/photo-1596704017254-9b121068fb31?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80");
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 50%;
}

#home-ul-content-cont {
  width: 50%;
  padding: 0.5em 1.5em;
  text-align: left;
}

#home-ul-content-cont h2 {
  font-family: "Playfair Display SC", serif;
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 0.75em;
  color: #40212b;
}

#home-ul-content-cont p {
  font-family: "Lato", sans-serif;
  font-weight: light;
  font-size: 1.5em;
  color: #886670;
}

/**/

#products-page {
  background-color: #e4d9dc;
  margin-bottom: 2em;
}

#products {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;
  justify-content: center;
  font-family: "Lato", sans-serif;
}

.product-cont {
  width: 18%;
  margin: 0.5em;
}

#update-product-cont {
  margin: 1em 2em;
}

.product {
  height: 100%;
}

#products-loading {
  min-height: 90vh;
  font-size: 3em;
  color: #886670;
}

/* View Product.jsx */
#product-main-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#product-content-div {
  width: 40%;
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  gap: 2em;
  color: white;
}

#product-sort-filter-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2em 4em;
}

#product-sorter,
#product-filter {
  color: #886670;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 1.4em;
  gap: 1em;
}

/* Cart.jsx */
#cart-btn {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25em;
}

#cart {
  width: 100%;
  gap: 1em;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 2em;
}

.cart-product {
  width: 100%;
  padding: 1em;
  gap: 1em;
}

#cart-contents {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1em;
}

#cart-list {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
  width: 75%;
}

#cart-summary {
  padding: 1.5em;
  text-align: left;
}

/* .cart-product-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
} */

/* checkout.jsx (shipping, payment, confirmCheckout) */
.checkout-tabs {
  width: 45%;
  margin: 2em auto;
  padding: 2em;
  background-color: #d9cacf;
  min-height: 85vh;
}

#confirm-checkout-cont {
  min-height: 85vh;
}

#confirm-checkout {
  width: 45%;
  margin: 2em auto;
  padding: 2em;
  background-color: #d9cacf;
}

#order-status-page {
  min-height: 85vh;
  padding: 2em;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
}

#confirm-checkout {
  max-height: vh;
}

#register-form,
#login-form {
  width: 60%;
  padding: 2em;
  background-color: #d9cacf;
}

#login-page,
#register-page,
#view-product-page,
#profile-page,
#admin-login-page,
#checkout-page {
  min-height: 85vh;
  background-color: #e4d9dc;
  padding: 2em;
}

#create-product-form {
  padding: 2em;
}

footer {
  background-color: #ac9fa2;
  min-height: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2em 2em 4em 2em;
}

footer h3 {
  font-size: 2em;
  color: #6a0624;
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
}

footer h5 {
  font-size: 1em;
  color: #532c38;
}

.icon {
  font-size: 2em;
  color: #ec507f;
}

.icon:hover {
  transition: all 0.3s;
  cursor: pointer;
  color: #6a0624;
}

/* MEDIA QUERIES */

// base: "0px", xxs: "320px", xs: "375px", sm: "425px", smMd: "575px", md: "768px", mgLg: "1024px", lg: "1200px", xl: "1400px",

@media screen and (max-width: 1440px) and (min-width: 401px) {
  .nav-tab-text:hover {
    background-color: white;
    transition: all 0.4s;
  }
}

@media screen and (max-width: 575px) {
  #home {
    background: linear-gradient(0deg, #4e3b4782, #40333b82),
      url("https://images.unsplash.com/photo-1630084775816-7abb7383ded5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
    background-size: cover;
    background-position: center center;
  }

  #product-sort-filter-cont {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  /* Navbar */
  #navbar {
    padding: 1em;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
  }

  #navbar-heading {
    display: none;
  }

  #navbar nav {
    font-size: 0.75em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 4em;
  }

  .nav-tab {
    display: flex;
    flex-flow: column-reverse wrap;
    align-items: center;
  }

  .nav-tab-text {
    border-radius: 0;
    color: #f8769d;
    font-size: 1em;
    font-weight: bold;
    background-color: none;
  }

  .nav-tab-text:hover {
    background-color: none;

    transition: all 0.4s;
  }

  .nav-tab-icon {
    font-size: 2.5em;
    color: #dd3064;
    display: inline-block;
  }

  /* Home page */
  #home {
    height: 90vh;
    min-height: 500px;
  }

  #home-content-div {
    padding-right: 1em;
  }

  #home-content-div h1 {
    font-size: 3.5em;
  }

  #home-content-div h3 {
    font-size: 1.5em;
  }

  #home-content-div button {
    font-size: 1.25em;
  }

  #home-under-landing {
    height: 90vh;
    flex-flow: column-reverse;
  }

  #home-ul-img-cont {
    background: linear-gradient(0deg, #836f7a82, #695f6582),
      url("https://images.unsplash.com/photo-1500840216050-6ffa99d75160?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2097&q=80");
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
  }

  #home-ul-content-cont {
    width: 100%;
    height: 100%;
    padding: 0.5em 1.5em;
    text-align: left;
  }

  #home-ul-content-cont h2 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
  }

  #home-ul-content-cont p {
    font-size: 1em;
  }

  /* Products */
  #products {
    display: flex;
    flex-flow: column wrap;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
  }

  .product-cont {
    width: 90%;
    /* margin: 0.5em; */
  }

  .product {
    flex-flow: row wrap;
  }

  .product-image {
    object-fit: cover;
  }

  /* Footer */

  footer {
    min-height: 10vh;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 0.75em;
    align-items: center;
    padding: 1em 1.5em 6em 1.5em;
  }

  footer h3 {
    font-size: 2em;
  }

  footer h5 {
    font-size: 1em;
  }
}

@media screen and (max-width: 320px) {
  /* Navbar */
  #navbar {
    padding: 0.75em;
  }

  #navbar nav {
    font-size: 0.65em;
    gap: 2em;
  }

  /* Home page */

  #home-content-div {
    padding: 1em 2em 0 0;
    justify-content: center;
    align-items: center;
  }

  #home-content-div h1 {
    font-size: 2.6em;
  }

  #home-content-div h3 {
    font-size: 1.3em;
    padding-bottom: 0.75em;
  }

  #home-content-div button {
    font-size: 1.2em;
  }

  #home-under-landing {
    height: 95vh;
    flex-flow: column-reverse;
  }

  #home-ul-content-cont {
    padding: 0.75em 1em 0 1em;
    text-align: left;
  }

  #home-ul-content-cont h2 {
    font-size: 1.4em;
  }

  #home-ul-content-cont p {
    font-size: 1em;
  }

  /* Products */

  #products-page {
    background-color: #e4d9dc;
    margin-bottom: 2em;
    padding-top: 2em;
  }

  #products {
    display: flex;
    flex-flow: column wrap;
    margin-top: 0.75em;
    justify-content: center;
    align-items: center;
    font-family: "Lato", sans-serif;
  }

  .product-cont {
    width: 95%;
  }

  /* View Product.jsx */
  #view-product-page {
    min-height: 90vh;
    padding: 2.5em 0.75em 0.75em 0.75em;
  }

  #product-main-div {
    flex-flow: column wrap;
    // justify-content: start;
  }

  #product-content-div {
    width: 100%;
    text-align: left;
    flex-flow: column wrap;
    // justify-content: space-between;
    align-items: start;
    padding: 1em 0.5em;
    gap: 1em;
  }

  /* Login Page */
  #register-form,
  #login-form {
    width: 100%;
    padding: 2em 1em;
  }

  #login-page,
  #register-page {
    min-height: 90vh;
    padding: 4em 1em;
  }

  /* Cart.jsx */
  #cart-btn {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25em;
  }

  #cart {
    width: 100%;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 0.75em;
  }

  .cart-product {
    width: 100%;
    padding: 0em;
    gap: 1em;
  }

  #cart-contents {
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 1em;
  }

  #cart-list {
    display: flex;
    flex-flow: column wrap;
    gap: 0.5em;
    width: 100%;
  }

  #cart-summary {
    padding: 0.75em;
    text-align: left;
  }

  /* checkout.jsx (shipping, payment, confirmCheckout) */

  #checkout-page {
    min-height: 90vh;
    background-color: #e4d9dc;
    padding: 0.75em;
  }

  .checkout-tabs {
    width: 100%;
    margin: 1em auto;
    padding: 2em 1em;
    background-color: #d9cacf;
    min-height: 90vh;
  }

  #confirm-checkout-cont {
    min-height: 90vh;
  }

  #confirm-checkout {
    width: 100%;
    margin: 2em auto;
    padding: 1em;
    background-color: #d9cacf;
  }

  #order-status-page {
    min-height: 90vh;
    padding: 2em 1em;
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
  }

  /* Footer */

  footer {
    min-height: 15vh;
  }

  footer h5 {
    font-size: 0.75em;
  }
}
